.page_container {
	padding-top: 120px;

	width: 100%;
	height: 100vh;
}
.content_wrapper {
	display: flex;
	width: 100%;
	height: 100vh;
}
.shopPage_title {
	text-align: center;
	font-size: 48px;
	color: #000;
	margin-bottom: 10px;
}
