.card {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.image_wrapper {
	display: flex;
	justify-content: center;
	width: 100%;
	height: 15%;
	object-fit: cover;
	border-radius: 20px;
}
.image {
	max-width: 100%;
	height: auto;
	object-fit: cover;
	border-radius: 20px;
}

.title {
	margin-top: 8px;
	font-size: 16px;
	font-weight: 600;
}

.price {
	margin-top: 8px;
	font-size: 14px;
	font-weight: 600;
	color: #65aee3;
}

.addButton {
	padding: 8px 16px;
	background-color: #007bff;
	color: #fff;
	border: none;
	border-radius: 4px;
	font-size: 16px;
	cursor: pointer;
}

.addButton:hover {
	background-color: #0056b3;
}
.button_wrapper {
	display: flex;
	padding: 5px;
	align-items: center;
	justify-content: center;
}
.button_increment,
.button_decrement {
	display: inline-flex;
	align-items: baseline;
	justify-content: center;
	background-color: transparent;
	border-radius: 50%;
	border: none;
	color: #000;
	width: 20px;
	height: 20px;
	cursor: pointer;
	font-size: 16px;
}
.button_increment:focus,
.button_increment:hover .button_decrement:focus,
.button_decrement:hover {
	background-color: #0056b3;
}
.button_increment {
	margin-left: 5px;
}
.button_decrement {
	margin-right: 5px;
}
.count {
	font-size: 16px;
}
