@media screen and (max-width: 320px) {
	.shopList {
		margin-right: 0;
		margin-bottom: 10px;
		flex-basis: 100%;
	}

	.shopItem {
		height: auto;
		margin-bottom: 5px;
	}
}
@media screen and (min-width: 321px) and (max-width: 760px) {
	.shopList {
		margin-right: 0;
		margin-bottom: 10px;
		flex-basis: 50%;
	}

	.shopItem {
		height: auto;
		margin-bottom: 5px;
	}
}

.shopList {
	padding: 20px 10px 20px 10px;
	border: 1px #000 solid;
	border-radius: 10px;
	margin-right: 10px;
	flex-basis: 25%;
}

.shopItem {
	width: 100%;
	height: 120px;
	border-radius: 15px;
	background-color: rgb(225, 180, 111);
	margin-bottom: 10px;
	text-align: center;
	padding: 5px;
	cursor: pointer;
	transition: background-color 0.3s;
}

.shopItem:hover {
	background-color: #a59a0a;
}

.shopItem.selected {
	background-color: #eee30d;
	font-weight: 600;
}

.shopItem.disabled {
	background-color: #aba983;
	font-weight: 600;
}

.shopTitle {
	font-size: 24px;
	font-weight: 600;
	margin-bottom: 7px;
}

.shopAddress {
	font-size: 16px;
	font-style: italic;
}

.shopItem {
	padding: 10px;
	cursor: pointer;
	transition: background-color 0.3s;
}
