.page_container {
	padding-top: 120px;

	width: 100%;
	height: 100vh;
}
.content_wrapper {
	display: flex;
	width: 100%;
	height: 100vh;
}
.cartPage_title {
	text-align: center;
	font-size: 36px;
	color: #000;
}
.submit_button {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 150px;
	height: 40px;
	background-color: rgb(233, 114, 23);
	font-size: 16px;
	font-weight: 600;
	border-radius: 25px;
	margin-bottom: 15px;
	margin-left: auto;
}
.submit_button:hover,
.submit_button:focus {
	background-color: rgb(123, 57, 7);
}
