.order_wrapper {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 60%;
}

.form_wrapper {
    flex-basis: 100%;
    padding: 15px;
    background-color: rgb(247, 179, 96);
    border: 1px #000 solid;
    border-radius: 10px;
    margin-bottom: 15px;
}

.form {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

.label {
    display: block;
    margin-bottom: 10px;
}

.input_part {
    display: block;
    margin-bottom: 5px;
    font-size: 16px;
    padding-left: 15px;
}

.input {
    width: 100%;
    height: 40px;
    padding: 5px;
    border-radius: 10px;
}

@media screen and (min-width: 321px) {
    .form_wrapper {
        flex-basis: 50%;
        margin-right: 15px;
    }

    .input_part {
        margin-bottom: 10px;
    }
}

@media screen and (min-width: 761px) {
    .form_wrapper {
        flex-basis: 25%;
        margin-right: 15px;
    }
}
