.nav_list {
	display: flex;
	list-style: none;
	width: 100%;

	justify-content: space-between;
	align-items: center;
}
.nav_item {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.nav_item:first-child {
	margin-right: 10px;
}
.link {
	display: inline-block;
	text-decoration: none;
	padding: 15px;
	font-weight: 700;
	color: #2a363b;
	transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.link:hover {
	background-color: #6213ebea;
}
.active {
	display: inline-block;
	text-decoration: none;
	padding: 15px;
	background-color: transparent;
	font-weight: 700;
	color: #0f9cd8;

	padding: 15px;
	&::after {
		content: "";
		display: inline-flex;
		position: absolute;
		bottom: 0;
		left: 0;
		height: 4px;
		width: 100%;

		border-radius: 2px;
	}
}
