.page_container {
	padding-top: 120px;

	width: 100%;
	height: 100vh;
}
.content_wrapper {
	display: flex;
	width: 100%;
}
.order_wrapper {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-basis: 80%;
}
.title {
	font-size: 24px;
	color: rgb(143, 44, 9);
	font-weight: 600;
}
