@media screen and (max-width: 320px) {
	.shopList {
		margin-right: 0;
		margin-bottom: 10px;
		flex-basis: 100%;
	}
}
@media screen and (min-width: 321px) and (max-width: 760px) {
	.shopList {
		margin-right: 0;
		margin-bottom: 10px;
		flex-basis: 50%;
	}
}

.shopList {
	padding: 20px 10px 20px 10px;
	border: 1px #000 solid;
	border-radius: 10px;
	margin-right: 10px;
	flex-basis: 25%;
}
