.header {
  display: inline-flex;
  position: fixed;
  width: 98%;
  background-color: #fff;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 16px;
  border-bottom: 2px solid #89e;
  z-index: 1000;
  padding-top: 16px;
}
