.footer_wrapper {
  padding: 10px 0;
  border-top: 1px solid #89e;
}

.footer_container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer_info,
.footer_link,
.footer_span {
  display: block;
  font-size: 12px;
  color: #0000008c;
}
.footer_info {
  margin-right: 5px;
}
.footer_link {
  text-decoration: none;
  margin-right: 8px;
}
